nav {
    margin-bottom: 20px;
}
.navbar {
    box-shadow: var( --card-box-shadow);
    background-color: var(--seasalt-color);
}
.navbar-brand {
    font-size: 24px;
    font-weight: 600;
    color: var(--jet-color)
}
.nav-link, .navbar-brand {
    color: var(--jet-color);
}
.active {
    background-color: var(--turquoise-color);
    border-radius: 4px;
    color: var(--highlight-color);
}
.navbar-light .navbar-nav .nav-link {
    color: var(--jet-color);
}